@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
body h1{
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body p {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}

body{
  background-color:#f1eedd;
  text-align:center;
}
header{
  color:#4a4734
  font-size:50px;
}
main p img{
  border:1px solid #4a4734;
  margin:20px;
  width:700px;
  height:auto;
}
main p{
  border:1px solid #4a4734;
  border-radius:20px;
  margin:50px;
  padding:20px;
  font-size:24px;
}
footer p img{
  width:30px;
  height:30px;
}

