body{
  background-color:#f1eedd;
  text-align:center;
}
header{
  color:#4a4734
  font-size:50px;
}
main p img{
  border:1px solid #4a4734;
  margin:20px;
  width:700px;
  height:auto;
}
main p{
  border:1px solid #4a4734;
  border-radius:20px;
  margin:50px;
  padding:20px;
  font-size:24px;
}
footer p img{
  width:30px;
  height:30px;
}

